#!/usr/bin/bash
shopt -s globstar nullglob
UPLOAD_DIR="{{ sftp_homedir }}/upload"
DESTINATION_DIR="{{ data_dir }}/masterlog"
TMP_DIR=/tmp/masterlog

# Get list of archives
ARCHIVES=( "$UPLOAD_DIR"/*.tar.gz )
for file in "${ARCHIVES[@]}"; do
	log "Found archive: $file"
done

# Log to syslog. Check with:
# $ journalctl -t sftp_upload -e
function log {
    logger -p local0.info -t extract_masterlog "$1"
}

# Exit if no archives are found {# Jinja gotcha! (interprets comment) #} 
{% raw %}
[[ "${#ARCHIVES[@]}" -eq 0 ]] && exit 0
{% endraw %}

# Prepare directories
[[ -d "$TMP_DIR" ]] && rm -f "$TMP_DIR/*" || mkdir -p "$TMP_DIR"
[[ ! -d "$DESTINATION_DIR" ]] && mkdir -p "$DESTINATION_DIR"
chown root:logstash "$DESTINATION_DIR"
chmod 775 "$DESTINATION_DIR"

# Allow some time to finish writing
log "Waiting for file to close..."
while lsof +D "$UPLOAD_DIR" -a -c sshd -c sftp >/dev/null; do
	sleep 1
done

# Extract files to /tmp and move them
for ARCHIVE in "${ARCHIVES[@]}"; do
	# We need the base archive name for later.
	# Logstash needs its filename since it contains hostname,
	# and the actual log file is called master.log.0 or similar.
	ARCHIVE_FULL=$(basename "$ARCHIVE")
	ARCHIVE_NAME=${ARCHIVE_FULL%%.*}

	log "Working on $ARCHIVE_FULL"
	EXTRACTED=$(tar xvzf "$ARCHIVE" -C /tmp/masterlog 2>&1)
	if [[ $? -ne 0 ]]; then
		log "Error extracting archive. Exiting.\n$EXTRACTED"
		exit 1
	fi
	# Loop over extracted files
	for FILE in "${EXTRACTED[@]}"; do
		# Nokia says the archive will only contain one file,
		# but we allow for multiple files and append a random number, just in case
		RAND=$((1 + RANDOM % 999999))
		FINAL_NAME="$ARCHIVE_NAME-$RAND.log"
		touch "$TMP_DIR/$FILE"
		mv "$TMP_DIR/$FILE" "$DESTINATION_DIR/$FINAL_NAME"
		if [[ $? -eq 0 ]]; then
			chown root:root "$DESTINATION_DIR/$FINAL_NAME"
			chmod 666 "$DESTINATION_DIR/$FINAL_NAME"
			log "Extracted file: $FILE to $DESTINATION_DIR/$FINAL_NAME"
			rm "$ARCHIVE"
			rm -rf /tmp/masterlog/*
		fi
	done
done

# vim: set ts=4 sts=4 sw=4 noet filetype=sh :
