node.name: {{ansible_hostname}}
path.data: {{logstash_data_path}}
path.logs: {{logstash_logs_path}}

queue.type: persisted
queue.max_bytes: {{logstash_queue_size}}

pipeline.workers: {{logstash_worker_count}}
pipeline.batch.size: {{logstash_batch_size}}

xpack.monitoring.enabled: {{es_monitoring}}
